body {
    padding-top: 10%;
    background: #88B168;
}

body > div {
    margin: 0 auto;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body > div + div {
    margin-top: 25px;
}